.top {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: rgba(0, 123, 255, 0.4);
}

.content {
  padding: 2em;
  flex-grow: 1;
}

.splitted {
  display: flex;
  gap: 5em;
}